@import '../../styles/utils.scss';

.container {
  display: flex;
  flex-direction: column;

  .screenshot {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .smallScreenshot {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .center {
    max-width: 500px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button {
    text-decoration: none;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    line-height: 100%;
    transition: all 0.23s ease-in-out;
    border: none;
    border-radius: 2px;
    display: block;
    color: white;
    background-color: #724F9F;
    white-space: normal;
    margin: 0 auto;
    margin-right: 20px;
    &:hover{
      background-color: #E00B87;
    }
  }

  .buttonOutline {
    text-decoration: none;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    line-height: 100%;
    transition: all 0.23s ease-in-out;
    border: 2px solid #724F9F;
    border-radius: 2px;
    display: block;
    color: #724F9F;
    background-color: #fff;
    white-space: normal;
    margin: 0 auto;
    &:hover{
      border: 2px solid #E00B87;
      color: #E00B87;
    }
  }

  .notes {
    color: gray;
    width: 100%;
    max-width: 800px;
    p {
     font-size: 14px; 
    }
    
  }
  sup {
    font-size: 10px; 
    vertical-align:super;
  }

}