@import '../../styles/utils.scss';

.container {
  display: flex;
  flex-direction: column;

  .screenshot {
    width: 100%;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .center {
    max-width: 500px;
  }

  .center {
    .cat-img {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .cat-content {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
 .button {
    text-decoration: none;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    line-height: 100%;
    transition: all 0.23s ease-in-out;
    border: none;
    border-radius: 2px;
    display: block;
    color: white;
    background-color: #B81A0A;
    white-space: normal;
    margin: 0 auto;
    margin-right: $spacing-small;
    &:hover{
      background-color: #A01808;
    }
  }
  .buttonOutline {
    text-decoration: none;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    line-height: 100%;
    transition: all 0.23s ease-in-out;
    border: 2px solid #B81A0A;
    border-radius: 2px;
    display: block;
    color: #B81A0A;
    background-color: #fff;
    white-space: normal;
    margin: 0 auto;
    &:hover{
      border: 2px solid #A01808;
      color: #A01808;
    }
  }
}
